<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
   <ul>
       <li v-for="(cor, i) in cores" :teste="cor" :key="cor" > {{ i + 1 }}) {{cor}}</li>
   </ul>
   <button @click="cores.push(cores[Math.floor(Math.random() * cores.length)])">Add</button>
   <hr/>
   <template v-for="(cor, i) in cores" >
        <p>{{cor}} - {{i}}</p>
   </template>
   <hr/>
    <ul>
        <li v-for="pessoa in pessoas" >
            <div v-for="(valor, chave, index) in pessoa">
                {{chave}} = {{valor}} ({{index+1}})
            </div>
        </li>
    </ul>
    <hr/>
    <span v-for="n in 100"> {{n}} </span>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
           cores: ['azul','branco','fúscia','grená','índigo','laranja','marrom','ocre','preto','rosa','salmão', 'verde'],
           pessoas: [
               {nome:"Yo Lao",idade:35,peso:71},
               {nome:"Jet Li",idade:56,peso:82}
           ]
        },
        methods: {
            shuffle: function(arr) {
                var currentIndex = arr.length, temporaryValue, randomIndex;
                while (0 !== currentIndex) {
                    // Pick a remaining element...
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;

                    // And swap it with the current element.
                    temporaryValue = arr[currentIndex];
                    arr[currentIndex] = arr[randomIndex];
                    arr[randomIndex] = temporaryValue;
                }
                return arr;
            }
        },
        beforeMount: function() {
            this.shuffle(this.cores)
        }
    });

</script>

<style>
    ul {
        list-style: none;
    }
</style>